<title>Humidity</title>

{% extends 'ardjango/base.html' %}

{% block content %}
<div class="container mt-4">
    <h3>Tableau des données d'humidité</h3>
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="scrollable-table">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Humidité</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in temperature_data %}
                        <tr>
                            <td>{{ h.id }}</td>
                            <td>{{ h.humidity }}</td>
                            <td>{{ h.date }}</td>
                            <td>{{ h.time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // humidity chart
    Chart.defaults.color = 'white';
    Chart.defaults.borderColor = 'gray';
    const humidity = [];
    const hDate = [];

    {% for h in temperature_data %}
    humidity.push({{ h.humidity }});
    hDate.push("{{ h.date }} {{ h.time }}");
    {% endfor %}

    const ctx1 = document.getElementById('myChart1').getContext('2d');
    const hum = {
        labels: hDate,
        datasets: [
            {
                label: 'Humidité',
                data: humidity,
                borderColor: 'green',
                backgroundColor: 'rgba(0, 255, 0, 0.5)',
                pointStyle: 'circle',
                fill: true,
                pointRadius: 10,
                pointHoverRadius: 15
            }
        ]
    };
    const config1 = {
        type: 'line',
        data: hum,
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'HUMIDITY'
                }
            }
        }
    };
    new Chart(ctx1, config1);
</script>
<br>
{% endblock %}
