<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">DHT11 Sensor Data (Projet 2 v1.2)</a>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'humidity' %}">Humidité</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'celsius' %}">Celsius</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'fahrenheit' %}">Fahrenheit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hic' %}">Heat Index (C)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hif' %}">Heat Index (F)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/">Admin</a>
      </li>
    </ul>
  </div>
</nav>