<title>Statistics</title>

{% extends 'ardjango/base.html' %}

{% block content %}

<div class="container mt-4">
    <h3>Statistiques</h3>
    <br>
    <div class="row">
        <div class="col-md-12">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    Chart.defaults.color = 'white';
    Chart.defaults.borderColor = 'gray';
    const fahrenheit = [];
    const fDate = [];

    {% for f in temperature_data %}
        fahrenheit.push({{ f.fahrenheit }});
        fDate.push("{{ f.date }} {{ f.time }}");
    {% endfor %}

    const celsius = [];
    const cDate = [];

    {% for c in temperature_data %}
        celsius.push({{ c.celsius }});
        cDate.push("{{ c.date }} {{ c.time }}");
    {% endfor %}

    const hic = [];
    const hicDate = [];

    {% for hc in temperature_data %}
    hic.push({{ hc.hic }});
    hicDate.push("{{ hc.date }} {{ hc.time }}");
    {% endfor %}

    const hif = [];
    const hifDate = [];

    {% for hf in temperature_data %}
    hif.push({{ hf.celsius }});
    hifDate.push("{{ hf.date }} {{ hf.time }}");
    {% endfor %}

    const humidity = [];
    const hDate = [];

    {% for h in temperature_data %}
    humidity.push({{ h.humidity }});
    hDate.push("{{ h.date }} {{ h.time }}");
    {% endfor %}

    const ctx = document.getElementById('myChart').getContext('2d');
    const data = {
        labels: cDate,
        datasets: [
            {
                label: 'Fahrenheit',
                data: fahrenheit,
                borderColor: 'yellow',
                backgroundColor: 'rgba(255, 255, 0, 0.5)',
                yAxisID: 'y1', 
            },
            {
                label: 'Celsius',
                data: celsius,
                borderColor: 'red',
                backgroundColor: 'rgba(255, 0, 0, 0.5)',
                yAxisID: 'y', 
            },
            {
                label: 'Humidity',
                data: humidity,
                borderColor: 'green',
                backgroundColor: 'rgba(0, 255, 0, 0.5)',
                yAxisID: 'y2',
            },
            {
                label: 'Heat Index Celsius',
                data: hic,
                borderColor: 'orange',
                backgroundColor: 'rgba(255, 165, 0, 0.5)',
                yAxisID: 'y3',
            },
            {
                label: 'Heat Index Fahrenheit',
                data: hif,
                borderColor: 'blue',
                backgroundColor: 'rgba(0, 0, 255, 0.5)',
                yAxisID: 'y4',
            }
        ]
    };
    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Graphique des données du DHT11'
                }
            },
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                },
                y1: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                    grid: {
                        drawOnChartArea: false,
                    },
                },
                y2: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                    grid: {
                        drawOnChartArea: false,
                    },
                },
                y3: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                    grid: {
                        drawOnChartArea: false,
                    },
                },
                y4: {
                    type: 'linear',
                    display: true,
                    position: 'right',
                    grid: {
                        drawOnChartArea: false,
                    },
                }
            }
        }
    };

    new Chart(ctx, config);
</script>
{% endblock %}