{% extends 'ardjango/base.html' %}

{% block content %}
<div class="container mt-4">
    <h3>Celsius Data Table</h3>
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="scrollable-table">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Celsius</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data1 in temperature_data %}
                        <tr>
                            <td>{{ data1.id }}</td>
                            <td>{{ data1.celsius }}</td>
                            <td>{{ data1.date }}</td>
                            <td>{{ data1.time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-7">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
    <br><br><br><br>
    <h3>Fahrenheit Data Table</h3>
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="scrollable-table">
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fahrenheit</th>
                            <th>Date</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in temperature_data %}
                        <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.fahrenheit }}</td>
                            <td>{{ data.date }}</td>
                            <td>{{ data.time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        
        <div class="col-md-7">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // celsius chart
    Chart.defaults.color = 'white';
    Chart.defaults.borderColor = 'gray';
    const xValues1 = [];
    const yValues1 = [];

    {% for data1 in temperature_data %}
    xValues1.push({{ data1.celsius }});
    yValues1.push("{{ data1.date }} {{ data1.time }}");
    {% endfor %}

    const ctx1 = document.getElementById('myChart1').getContext('2d');

    const data1 = {
        labels: yValues1,
        datasets: [
            {
                label: 'Celsius',
                data: xValues1,
                borderColor: 'red',
                backgroundColor: 'rgba(255, 0, 0, 0.5)',
                pointStyle: 'circle',
                fill: true,
                pointRadius: 10,
                pointHoverRadius: 15
                
            }
        ]
    };

    const config1 = {
        type: 'line',
        data: data1,
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'TEMPERATURE'
                    
                }
            }
        }
    };

    new Chart(ctx1, config1);

    // fahrenheit chart
    Chart.defaults.color = 'white';
    Chart.defaults.borderColor = 'gray';
    const xValues = [];
    const yValues = [];

    {% for data in temperature_data %}
    xValues.push({{ data.celsius }});
    yValues.push("{{ data.date }} {{ data.time }}");
    {% endfor %}

    const ctx = document.getElementById('myChart').getContext('2d');

    const data = {
        labels: yValues,
        datasets: [
            {
                label: 'Fahrenheit',
                data: xValues,
                borderColor: 'yellow',
                backgroundColor: 'rgba(255, 255, 0, 0.5)',
                pointStyle: 'circle',
                fill: true,
                pointRadius: 10,
                pointHoverRadius: 15
            }
        ]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                title: {
                    display: true,
                    text: 'TEMPERATURE'
                }
            }
        }
    };

    new Chart(ctx, config);
</script>
<br>
{% endblock %}