<title>Temperature</title>

{% extends 'ardjango/base.html' %}

{% include 'ardjango/navbar.html' %}

{% block content %}

<head>
    <title>Sensor Data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    
</head>
<body onload="refreshPage()">
    <div class="container mt-4">
        <h3>Temperature Data Table</h3>
        <br>
        <div class="row">
            <div class="col-md-5">
                <div class="scrollable-table">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Temperature</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in temperature_data %}
                            <tr>
                                <td>{{ data.id }}</td>
                                <td>{{ data.temperature }}</td>
                                <td>{{ data.date }}</td>
                                <td>{{ data.time }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
                
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                
                <script>
                    const xValues = [];
                    const yValues = [];

                        {% for data in temperature_data %}
                        xValues.push({{ data.temperature }});
                        yValues.push("{{ data.date }} {{ data.time }}");
                        {% endfor %}

                    const ctx = document.getElementById('myChart').getContext('2d');

                    const data = {
                        labels: yValues,
                        datasets: [
                            {
                                label: 'Temperature',
                                data: xValues,
                                borderColor: 'red',
                                backgroundColor: 'rgba(255, 0, 0, 0.5)',
                                pointStyle: 'circle',
                                pointRadius: 10,
                                pointHoverRadius: 15
                            }
                        ]
                    };

                    const config = {
                        type: 'line',
                        data: data,
                        options: {
                            responsive: true,
                            plugins: {
                                title: {
                                    display: true,
                                    text: (ctx) => 'Point Style: circle (default)'
                                }
                            }
                        }
                    };
                    new Chart(ctx, config);
                  </script>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
    
    
