body {
    background-color: #333;
    color: #fff;
}

h3 {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

table.table-sm {
    font-size: 0.9rem;
}

table.table-sm th{
    background-color: #555;
    color: #fff;
}

table.table-sm td {
    padding: 0.2rem 0.5rem;
    background-color: #444;
    color: #fff;
}
.scrollable-table {
    max-height: 575px;
    overflow-y: scroll;
}
canvas {
    background-color: #444;
}


